extends layout

block content
    div(class='row')
        div(class='col-md-offset-1 col-md-8' style='display: inline-block !important;')
            h1 Patent Search Service
                small    by 
                    a(href='https://www.linkedin.com/pub/ho-fan-kang/14/61b/289') hofan41
            div
                form(id='uspto', class='form-inline')
                    div(class='input-group')
                        div(class='input-group-addon') Query
                        input(type='text', id='query', class='query form-control', placeholder='KANG, HO-FAN')
                        span(class='input-group-btn')
                            button(type='submit', class='btn btn-primary') Go!
                br
            div(class='table-responsive')
                table(id='patents', class='table table-striped table-hover')
                    tr
                        td(class='text-center')
                            img(src='/assets/img/balls.svg')
    script(type='text/template', id='patent-template').
        td
            a(href='\#{url}', target='_blank') \#{id}
        td \#{title}
    script(type='text/javascript', charset='utf-8', src='/assets/js/bundle.js')
