extends layout

block content
    div(class='row')
        br
        br
        div(class='center-block', style='width:1000px')
            div(class='row')
                h1 Patent Search Service
            div(class='row')
                form(id='uspto')
                    input(type='text', class='query')
                    input(type='submit')
                br
                br
                br
            div(id='patents', class='row')
                img(src='/assets/img/balls.svg')
            script(type='text/template', id='patent-template').
                div(class='col-md-3 text-right')
                    a(href='\#{url}', target='_blank') \#{id}
                div(class='col-md-9') \#{title}
    script(type='text/javascript', charset='utf-8', src='/assets/js/bundle.js')
